<html lang="en">
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
{% block head %}

{% endblock %}
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% block sit_button %}
    function sit(seat) {
        $.post('../sit/', {seat: seat, type: gametype, game: {{game.id}}}, function(data) {
	    if('error' in data) {
		$('#sitstat').html(data['error'])
		window.timeoutid = setTimeout(() => $('#sitstat').html('<br>'), 4000)
		return
	    }
            $('#sitstat').html('Joined game')
	    window.timeoutid = setTimeout(() => $('#sitstat').html('<br>'), 4000)
	});
    }
</script>
{% endblock %}
{% block extra_js %}
<script>
  
function Timer(settings)
  {
    this.settings = settings;
    this.timer = null;

    this.fps = settings.fps || 30;
    this.interval = Math.floor(1000/this.fps);
    this.timeInit = null;

    return this;
  }

Timer.prototype =
{
    run: function()
    {
        var $this = this;

        this.settings.run();
        this.timeInit += this.interval;

        this.timer = setTimeout(
            function(){$this.run()},
            this.timeInit - (new Date).getTime()
        );
    },

    start: function()
    {
	this.interval = Math.floor(1000/this.fps);
        if(this.timer == null)
        {
            this.timeInit = (new Date).getTime();
            this.run();
        }
    },

    stop: function()
    {
        clearTimeout(this.timer);
        this.timer = null;
    },

    slow: function()
    {
	this.interval = Math.floor(10000/this.fps);
    }
}

{% endblock %}
<body>
{% block content %}{% endblock %}
</body>
</html>
