Hi {{ request.session.name }}, you are {{ seat }}<br>
<div id="board">
    <span style="background:#008CBA">{{ gamestate.p1.hp }}</span>
    <span style="background:#f44336">{{ gamestate.p2.hp }}</span><br>
{% for card in cards %}
<button style="background-color:{{ card.color }};" name="{{ card.name }}" onclick="submit('{{ forloop.counter0 }}')">
    {{ card.name }}</button>
{% if forloop.counter|divisibleby:3 == 1 %}<br>{% endif %}
{% endfor %}
</div>
<span style="background:#008CBA">{{gamestate.p1.shields.n}}🛡{{ p1_badges }}</span>
<span style="background:#f44336">{{ p2_badges }}{{gamestate.p2.shields.n}}🛡</span>