{% extends "base.html" %}
{% block sit_button %} {% endblock %}
{% block head %}
    {{ block.super }}
    <title>tipr</title>
{% endblock %}
{% block extra_js %}
 {{ block.super }}

    var load = true;
    function register() {
        load = true;
        console.log(document.getElementsByName('name')[0].value)
        $.post('register/', {name: document.getElementsByName('name')[0].value}, function(data) {})
        .fail(function(response) {console.log(response)});
    }
    function sit(seat, type) {
        $.post('sit/', {'seat': seat, 'type': type}, function(data) {
            $('#sitstat').html('sat in ' + seat)
        }).fail(function(response) {
            $('#sitstat').html(response)
        });
    }
    var timer = new Timer({
        fps: 1,
        run: function () {
            if($('#gamelist').is(':empty') ) {
                load = true;
            }
            $.post('gamelist/', {load: load}, function (response) {
                if ('error' in response) {
                     $('#mygames').html(response['error'])
                } else {
                    if (response['gamelist'] != 'U') {
                         $('#gamelist').html( response['gamelist'])
                    }
                    $('#name').html(response['name'])
                }
            }).fail(function (response) {
                console.log(response)
            });
            load = false;
        }
    });

    timer.start();
</script>
{% endblock extra_js %}

{% block content %}
what name you want?
<input name="name"></input>
<button name="ok" onclick="register()">ok</button><br>
<button name="rps" onclick="sit(0, 'rps')">rps</button>
<button name="liar" onclick="sit(0, 'liar')">liar</button>
<div id="sitstat"></div><br>
<div id="gamelist"></div>

{% endblock %}
