{% extends "game_base.html" %}
{% block head %}
    {{ block.super }}
    <title>tipr rps</title>
{% endblock head %}

{% block sit_button %}
    <script>
    var gametype = 'rps'
    {{ block.super }}
{% endblock sit_button %}    

{% block extra_js %}
    {{ block.super }}

    function help(card) {
        for(var i = 0; i < 9; i++) {
            $("#" + i + "_text").hide()
        }
        $("#"+card+"_text").show()
    }
    </script>
{% endblock extra_js %}

{% block content %}
<div style="height:70%;width:98%;position:fixed;top:0;border:1px solid #ccc;overflow:auto">
<div id="sitstat"></div>
<div id="movestat"><br></div>
<div id="gameboard"></div>
{% for card in cards %}
<div style="display: none" id="{{ card.slot }}_text">{{ card.name }}: {{ card.text }}</div>
{% endfor %}
</div>
<div id="chat_container"></div>
{% endblock content %}
